@import url(./header.css);
@import url(./footer.css);
main > div.banner >img{
  width: 100%;

}
main > div.banner{
  position: relative;
}
main > div.banner > div.banner_title{
  text-align: center;
  position: absolute;
  color: white;
  font-weight: bolder;
  font-size: 36px;
  left: 50%;
  transform: translate(-50% , -120%)

}
main > div.event{
  width: 1200px;
  margin: 0 auto;
}
main >div.event> div.event_img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

main >div.event> div.event_img > img {
  width: 1200px;
}
main > div.event > div.photo_text{
  font-size: 24px;
  margin-bottom: 50px ;
}
main > div.event > div.event_text > span{
  font-size: 24px;
  font-weight: bold;
}
main > div.back{
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
main > div.back > a {
  text-decoration: none;
  color: black;
}
main > div.back > a > div.back_button{
  display: inline-block;
  position: absolute;
  background-color: rgb(227, 141, 32);
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px ;
  color: white;
  transition: 200ms;
}
main > div.back > a:hover >div.back_button{
  background-color: rgb(184, 104, 0);
}