div.text{
  height:200px;
  overflow: hidden;
  position: relative;
  width: 300px;
}
div.test{
position: absolute;
bottom: 0px;
text-align: center;
width: 100%;
/* overflow: hidden; */
}
div.test2{
width: 100%;
background-color: rgba(165, 0, 0, 0.39);
height: 20px;
border-radius: 100% 100% 0 0;
}
div.test:hover div.test2{

}